<div class="oj-hybrid-padding">
    
    <!-- <div class="oj-flex oj-panel oj-bg-neutral-30 oj-sm-align-items-center">
        <div class="oj-flex-item oj-panel oj-bg-brand-30 ">a</div>
        <div class="oj-flex-item oj-panel oj-bg-danger-30">b</div>
    </div> -->

        
      <!-- <div class="oj-flex oj-panel oj-bg-neutral-30" >
            <oj-bind-for-each data="[[selectedData]]">
              <template>
                <div class="oj-panel oj-bg-danger-30 oj-sm-align-items-center">
                <oj-button on-oj-action="[[selectCategory]]" label="[[$current.data]]">  
                  <oj-bind-text value="[[$current.data]]"></oj-bind-text> 
                </oj-button> 
                </div>
              </template>
            
            </oj-bind-for-each> 
        </div>  -->
      
      <div class="oj-flex oj-panel oj-bg-neutral-30">
        <div class="oj-flex-item oj-panel oj-bg-brand-30" style="width: 20%;">
          <h3>Category</h3>
        <oj-list-view id="CategoryListView" display="list" data="[[CategoryDataProvider]]">
          <template slot="itemTemplate" data-oj-as="row">
            
              <oj-action-card :id="[[row.data.category_id]]" on-oj-action="[[showCategoryProducts]]">
                <dl>
                  <dt style="padding: 1px;">
                    <span><img :src="[[row.data.category_image]]"></span>
                  </dt>
                  <br />
                  <dd>
                      <span class="oj-text-color-primary lesson-content">
                      <oj-bind-text value="[[row.data.category_name]]"></oj-bind-text>
                  </dd>
                </dl>
    
              </oj-action-card>
            
          </template>
    
        </oj-list-view>
          
        </div>
      <div class="oj-flex-item oj-panel oj-bg-danger-30">
        <h3>Products</h3>
        
        <oj-list-view id="ProductsListView" display="list" data="[[ProductsDataProvider]]">
        
          <template slot="itemTemplate" data-oj-as="row">
            
              <oj-action-card :id="[[row.data.product_id]]" on-oj-action="[[productSelectionChanged]]">
                <dl>
                  <dt style="padding: 1px;">
                    <span><img :src="[[row.data.product_image]]"></span>
                  </dt>
                  <br />
                  <dd>
                      <span class="oj-text-color-primary lesson-content">
                      <oj-bind-text value="[[row.data.product_name]]"></oj-bind-text>
                  </dd>
                </dl>
    
              </oj-action-card>
            
          </template>
    
        </oj-list-view>
        
      </div>
      <div class="oj-flex-item oj-panel oj-bg-info-30">
        <h3>invoice</h3>
        
      </div>
      </div>

      <br />
    
</div>