<div class="oj-hybrid-padding">
    
    <!-- <div class="oj-flex oj-panel oj-bg-neutral-30 oj-sm-align-items-center">
        <div class="oj-flex-item oj-panel oj-bg-brand-30 ">a</div>
        <div class="oj-flex-item oj-panel oj-bg-danger-30">b</div>
    </div> -->

        
      <!-- <div class="oj-flex oj-panel oj-bg-neutral-30" >
            <oj-bind-for-each data="[[selectedData]]">
              <template>
                <div class="oj-panel oj-bg-danger-30 oj-sm-align-items-center">
                <oj-button on-oj-action="[[selectCategory]]" label="[[$current.data]]">  
                  <oj-bind-text value="[[$current.data]]"></oj-bind-text> 
                </oj-button> 
                </div>
              </template>
            
            </oj-bind-for-each> 
        </div>  -->
      
      <div class="oj-flex oj-panel oj-bg-neutral-30">
        <div class="oj-flex-item oj-panel oj-bg-brand-30" style="width: 20%;">
          <h3>Category</h3>
        <oj-list-view id="CategoryListView" display="list" data="[[CategoryDataProvider]]">
          <template slot="itemTemplate" data-oj-as="row">
            
              <oj-action-card :id="[[row.data.category_id]]" on-oj-action="[[showCategoryProducts]]">
                <dl>
                  <dt style="padding: 1px;">
                    <span><img :src="[[row.data.category_image]]"></span>
                  </dt>
                  <br />
                  <dd>
                      <span class="oj-text-color-primary lesson-content">
                      <oj-bind-text value="[[row.data.category_name]]"></oj-bind-text>
                  </dd>
                </dl>
    
              </oj-action-card>
            
          </template>
    
        </oj-list-view>
          
        </div>
      <div class="oj-flex-item oj-panel oj-bg-danger-30 " style="width:10%;">
        <h3>Products</h3>
        
        <oj-list-view id="ProductsListView" display="list" data="[[ProductsDataProvider]]">
        
          <template slot="itemTemplate" data-oj-as="row">
            
              <oj-action-card :id="[[row.data.product_id]]" on-oj-action="[[productSelectionChanged]]">
                <dl>
                  <dt style="padding: 1px;">
                    <span><img :src="[[row.data.product_image]]"></span>
                  </dt>
                  <br />
                  <dd>
                      <span class="oj-text-color-primary lesson-content">
                      <oj-bind-text value="[[row.data.product_name]]"></oj-bind-text>
                  </dd>
                </dl>
    
              </oj-action-card>
            
          </template>
    
        </oj-list-view>
        
      </div>
      <div class="oj-flex-item oj-panel oj-bg-info-30">
        <h3>invoice</h3>
        <oj-table id="classesTable" 
        data="[[invoiceTempProduct]]"
        selection-mode='{"row": "single", "column": "multiple"}'
        dnd='{"reorder": {"columns": "enabled"}}'
        scroll-policy='loadMoreOnScroll'
        scroll-policy-options='{"fetchSize": 10}'
        columns='[
        {"headerText": "ID", 
        "field": "product_id",
        "headerClassName": "oj-sm-only-hide",
        "className": "oj-sm-only-hide",
        "resizable": "enabled"
        },

        {"headerText": "Name", 
        "field": "product_name",
        "resizable": "enabled"},

        {"headerText": "Price", 
        "field": "product_price",
        "headerClassName": "oj-sm-only-hide",
        "className": "oj-sm-only-hide",
        "resizable": "enabled",
        "template":"PriceTemplate"},

        {"headerText": "Quantity", 
        "headerStyle":"text-align:center;",
        "style": "text-align:center; padding:0px",
        "sortable":"disabled",
        "template":"QunatityTemplate"},

        {"headerText": "Total", 
        "headerStyle":"text-align:center;",
        "style": "text-align:center; padding:0px",
        "sortable":"disabled",
        "template":"TotalTemplate"},

        {"headerText": "Actions", 
        "headerStyle":"text-align:center;",
        "style": "text-align:center; padding:0px",
        "sortable":"disabled",
        "template":"actionsTemplate"}
        ]'
        style="width: 1px; min-width: 100%;"
        class='demo-table-container oj-bg-body'
        >
        <template slot="actionsTemplate" data-oj-as="cell" >
            <oj-button id="editButton" display="icons" chroming="borderless"
                on-oj-action="">
                    <span slot="startIcon" class="oj-ux-ico-edit"></span>
                        Edit
            </oj-button>
            <oj-button :id=[[cell.item.data.product_id]] display="icons" chroming="borderless"
                on-oj-action="[[deleteItem]]" >
                <span slot="startIcon" class="oj-ux-ico-trash"></span>
                    Delete
            </oj-button>

        </template>
        <template slot="QunatityTemplate" data-oj-as="cellquantity">
          <oj-input-number :id=[[cellquantity.item.data.product_id]]
                              value="{{quantityVal}}" >
          </oj-input-number>
          
        </template>
        <template slot="TotalTemplate">

        </template>

      </oj-table>
      <hr>   
      <oj-label  style=""><strong>Total</strong> :</oj-label>
      <oj-input-text  disabled="true" value="[[totalInvoice]]" 
                        class="demo-form-control-max-width">
      </oj-input-text>
  
    </div>
     
     
      </div>

      <br />
    
</div>